@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 100px;
  }

  body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 90%;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px 10px;
    text-align: left;
  }
  
  th {
    background-color: #f9f9f9;
  }
  
  thead th {
    font-weight: bold;
  }@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

  body {
      font-family: 'Roboto', sans-serif;
      text-align: center;
      margin: 100px;
    }
  
    body {
      font-family: Arial, sans-serif;
      padding: 20px;
      text-align: center;
    }
    
    h2 {
      margin-bottom: 20px;
      text-align: center;
    }
    
    table {
      margin: 0 auto;
      border-collapse: collapse;
      width: 90%;
    }
    
    th, td {
      border: 1px solid #ccc;
      padding: 8px 10px;
      text-align: center;
    }
    
    th {
      background-color: #f9f9f9;
    }
    
    thead th {
      font-weight: bold;
    }